{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="container-fluid mt-4">
        {% comment %} <h1 class="text-center">NZ Migration Dashboard</h1> {% endcomment %}
        {% comment %} <h4 class="mb-4 text-center">Demographic Based Statistics</h4> {% endcomment %}
        {% comment %} <br /> {% endcomment %}
        <!-- Include Filters -->
        {% include 'data_app/summary.html' %}
        <!-- Include Graphs -->
        {% include 'data_app/graphs.html' %}
    </div>
    <!-- Inline script to define `dataset` -->
    <script>const dataset = JSON.parse('{{ dataset|escapejs }}');  // Pass dataset from Django</script>
    <!-- Include Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Include Custom JavaScript -->
    <script src="{% static 'data_app/js/dashboard.js' %}"></script>
{% endblock %}
