<div>
    <!-- Button trigger modal -->
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal">
        <i class="fas fa-filter"></i>  Filters
    </button>
    <!-- Modal -->
    <div class="modal fade"
         id="exampleModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true"
         data-bs-backdrop="false">
        <div class="modal-dialog model-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Filter Dataset</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="filters" class="p-3 mb-2">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="startDate" class="form-label">Start Date</label>
                                <input type="month" id="startDate" class="form-control" value="2019-06">
                            </div>
                            <div class="col-md-6">
                                <label for="endDate" class="form-label">End Date</label>
                                <input type="month" id="endDate" class="form-control" value="2024-06">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="genderFilter" class="form-label">Gender</label>
                                <select id="genderFilter" class="form-select">
                                    <option value="All" selected>All</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="ageGroupFilter" class="form-label">Age Group</label>
                                <select id="ageGroupFilter" class="form-select">
                                    <option value="All" selected>All</option>
                                    <option value="0-4 years">0-4 years</option>
                                    <option value="5-9 years">5-9 years</option>
                                    <option value="10-14 years">10-14 years</option>
                                    <option value="15-19 years">15-19 years</option>
                                    <option value="20-24 years">20-24 years</option>
                                    <option value="25-29 years">25-29 years</option>
                                    <option value="30-34 years">30-34 years</option>
                                    <option value="35-39 years">35-39 years</option>
                                    <option value="40-44 years">40-44 years</option>
                                    <option value="45-49 years">45-49 years</option>
                                    <option value="50-54 years">50-54 years</option>
                                    <option value="55-59 years">55-59 years</option>
                                    <option value="60-64 years">60-64 years</option>
                                    <option value="65-69 years">65-69 years</option>
                                    <option value="70-74 years">70-74 years</option>
                                    <option value="75-79 years">75-79 years</option>
                                    <option value="80-84 years">80-84 years</option>
                                    <option value="85-89 years">85-89 years</option>
                                    <option value="90+ years">90+ years</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="directionFilter" class="form-label">Direction</label>
                                <select id="directionFilter" class="form-select">
                                    <option value="All" selected>All</option>
                                    <option value="Arrivals">Arrivals</option>
                                    <option value="Departures">Departures</option>
                                </select>
                            </div>
                            <div class="col-md-6 align-self-end">
                                <button id="filterButton"
                                        class="btn btn-primary w-100"
                                        data-bs-dismiss="modal">Apply Filter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Include Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
