<div id="graphs">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Arrivals and Departures Over Time</h5>
            <canvas id="lineChart"></canvas>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Provisioning Graph 2</h5>
            <canvas id="exampleGraph2"></canvas>
        </div>
    </div>
</div>
<!-- Include Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
