<div id="summary">
    <div class="row">
        <!-- Card 1: Total Arrivals -->
        <div class="col-md-3">
            <div class="card text-white bg-info mb-3 rounded">
                <div class="card-body">
                    <h5 class="card-title">Total Arrivals</h5>
                    <p class="card-text" id="totalArrivals">0</p>
                </div>
            </div>
        </div>
        <!-- Card 2: Total Departures -->
        <div class="col-md-3">
            <div class="card text-white bg-danger mb-3 rounded">
                <div class="card-body">
                    <h5 class="card-title">Total Departures</h5>
                    <p class="card-text" id="totalDepartures">0</p>
                </div>
            </div>
        </div>
        <!-- Card 3: Net Migration -->
        <div class="col-md-3">
            <div class="card text-white bg-warning mb-3 rounded">
                <div class="card-body">
                    <h5 class="card-title">Net Migration</h5>
                    <p class="card-text" id="netMigration">0</p>
                </div>
            </div>
        </div>
        <!-- Card 4: Average Migration -->
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3 rounded">
                <div class="card-body">
                    <h5 class="card-title">Average Net Migration Per Month</h5>
                    <p class="card-text" id="averageMigration">0</p>
                </div>
            </div>
        </div>
    </div>
</div>
